.container{
  max-width: 500px;
  margin: 15px auto;
}

.error-message{
  margin-left: 15px;
  color: red;
}

.success-message{
  margin-left: 15px;
  color: rgb(0, 214, 0);
}

.spinner{
  font-size: 24px;
}
