@import '../../../shared/styles/_variables.scss';
@import '../../../shared/styles/_breakpoints.scss';

.fileInput{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  opacity: 0;
}

.tag{
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover{
    text-decoration: underline;
  }
}

.form-group.row{
  margin-right: 0;
  margin-left: 0;
}

.container{
  z-index: 3;
}

.delete-button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}
